.AlbumCard {
  width: 10rem;
  height: 15rem;
  transition: all 0.25s;
  &:hover {
    transform: translatey(-5px);
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.2);
    border-radius: 0.25rem;
  }
  
  img {
    width: 10rem;
    height: 10rem;
    margin-bottom: 0.5rem;
    cursor: pointer;
    transition: all 0.25s;
    border-radius: 0.2rem;
    &:hover {
      width: 10.25rem;
      height: 10.25rem;
      border-radius: 0.2rem;
      transform: translate(-2px);
      box-shadow: 0 3px 4px rgba(0, 0, 0, 0.2);
    }
  }
  &__album{
    font-weight: 700;
    font-size: 0.875rem;
    color: var(--gray);
    text-decoration: none;
    display: block;
    margin-left: 0.25rem;
    transition: all 0.15s;
    &:hover {
      font-size: 0.9rem;
    }
  }
  &__artist{
    font-size: 0.75rem;
    color: var(--soft-gray);
    text-decoration: none;
    display: block;
    margin-left: 0.25rem;
    transition: all 0.15s;
    &:hover {
      font-weight: bold;
    }
  }
  
}