.Search {
  width: 500px;
  margin: 1rem 0;
  &__box {
    position: relative;
    width: 500px;
    height: 2.25rem;
  }
  &__input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 20px;
    border-radius: 6.25rem;
    font-size: 1.125rem;
    border-width: 0.05rem;
  }
  &__btn {
    position: absolute;
    top: 0;
    right: 0;
    width: 60px;
    // height: 100%;
    z-index: 1;
    cursor: pointer;
    .fas {
      position: absolute;
      right: 0;
      padding: 0;
      transform: translate(+20px, +13px);
      color: var(--gray);
    }
  }
}