.Sidebar {
  position: absolute;
  width: 20.625rem;
  height: 100%;

  background: var(--dark-red-secondary);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.Sidebar__logo {
  padding: 2rem 1rem 1rem 2rem;
  width: 250px;
  height: 59px;
}

ul {
  list-style: none;
  text-decoration: none;
  color: #ffffff;
  padding: 0 2rem 0 2rem;
}

.Sidebar__title {
  font-size: 1.375rem;
  padding-bottom: 2rem;
}

.Sidebar__link {
  text-decoration: none;
  color: #ffffff;
  font-size: 1rem;
  transition: all 0.15s;
  &:hover {
    font-weight: bold;
  }
}
