@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

:root {
  --red-principal: #E86060;
  --dark-red-secondary: #662323;
  --soft-gray: #BDBDBD;
  --gray: #828282;
  --light-red: #FF7676;
}

* {
  font-family: 'Quicksand', sans-serif;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*::-webkit-scrollbar {
  width: 0.5vw;
}

*::-webkit-scrollbar-thumb {
  background: var(--red-principal);
  border-radius: 0.75rem;
}

*::-webkit-scrollbar-track {
  background: var(--dark-red-secondary);
  border-radius: 0.75rem;
}
