.Cover {
  margin-bottom: 2rem;
  height: 15.625rem;
  display: flex;
  &__img {
    width: 30%;
    height: 100%;
    // background-color: rosybrown;
    img {
      width: 250px;
      height: 250px;
    }
  }
  &__content {
    width: 70%;
    height: 100%;
    padding: 1rem;
    box-sizing: border-box;
    display: flex;
    h3 {
      font-weight: 700;
      font-size: 1.375rem;
    }
    p span {
      color: var(--dark-red-secondary);
      margin-left: 0.5rem;
    }
  }
  &__details {
    h3 {
      color: #ffffff;
    }
    p {
      color: #ffffff;
      font-size: 0.75rem;
      &:first-child {
        font-size: 0.875rem;
      }
    }
  }
  &__background {
    position: fixed;
    width: 81%;
    // max-width: 55.75rem;
    max-width: initial;
    height: 15.625rem;
    background-color: var(--red-principal);
    opacity: 0.5;
    z-index: -1;
  }
  &__btn-filled, &__btn-outline {
    border: none;
    border-radius: 6.25rem;
    width: 7.313rem;
    height: 1.938rem;
    margin-right: 1rem;
    cursor: pointer;
    transition: all 0.15s;
    &:hover {
      font-weight: bold;
    }
  }
  &__btn-filled {
    background-color: var(--red-principal);
    color: #ffffff;
    margin-top: 3rem;
  }
  &__btn-outline {
    background-color: #ffffff;
    border: 1px solid var(--red-principal);
    color: var(--red-principal);
    background-color: transparent;
  }
}